button{
    color: chocolate;
}
h1{
    color: aquamarine;
    background-color: beige;
}
h2{
    color: rebeccapurple;
    background-color: burlywood;
}
p{
    color: black;
    background-color: chocolate;
}